html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    background: #2C3333;
}

.controls {
    border-radius: 100%;
}

.ctrlbuttons {
    text-align: center;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start {
    position: relative;
}

.end {
    position: relative;
    float: right;
}

.card-img-top {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.card {
    width: 400px;
    height: auto;
    background: #455f66;
    border-radius: 30px;
    box-shadow: 5px 5px 4px #222222;
}
